<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">restaurant</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-customer"></ion-back-button>
    </ion-buttons>
    <ion-button color="dark" slot="end" href="/cart" fill="outline" size="medium">
      <ion-icon name="cart-outline"></ion-icon>
        {{cart_length}}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus" (ionChange)="search($event)" clearInput></ion-searchbar>
  <ion-item color="danger">
    <ion-label>Select restaurant type</ion-label>
    <ion-select placeholder="Select" name="type" (ionChange)="search_type($event)" okText="Okay" cancelText="Cancel" >
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="rice">Rice</ion-select-option>
      <ion-select-option value="noodles">Noodles</ion-select-option>
      <ion-select-option value="dessert">Dessert</ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-card>
    <ion-list *ngFor="let restaurant of search_restaurant" [routerLink]="['../food-menu/',restaurant.name]">
      <ion-item color="medium" class="ion-text-center" >
        <ion-label> {{restaurant.name}} </ion-label>
      </ion-item>
      <ion-item color="light" class="ion-text-center" >
        <ion-img class="img" [src]="restaurant.img"></ion-img>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
