<ion-header>
  <ion-toolbar>
    <ion-title>Food Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/food-menu/{{restaurant_ID}}"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" href="/cart" fill="outline" size="medium">
      <ion-icon name="cart-outline"></ion-icon>
        {{cart_length}}
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
  <ion-card>
    <ion-list>
      <ion-item class="ion-text-center">
        <ion-img class="img" [src]="data_foodMenu && data_foodMenu[4]"></ion-img>
      </ion-item>
      Food Name:
      <ion-item color="danger" class="ion-text-center">
        <ion-label> {{data_foodMenu && data_foodMenu[1]}} </ion-label>
      </ion-item>
      Price
      <ion-item color="light"  >
        <ion-text color="dark" class="ion-text-center">
          <h3>  ${{data_foodMenu && data_foodMenu[3]}}  NTD</h3>
        </ion-text>
      </ion-item>
      Description
      <ion-item  color="light">
        <ion-text color="dark" class="ion-text-center">
          <h3> {{data_foodMenu && data_foodMenu[5]}} </h3>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button  (click) ="addCart(data_foodMenu[0], data_foodMenu && data_foodMenu[1], data_foodMenu && data_foodMenu[2], data_foodMenu && data_foodMenu[3])">
    add to cart
  </ion-button>
  </div>
</ion-content>
