<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">deliver-detail</ion-title>
    <ion-button size="large" slot="start" fill="icon-only" href="/home-deliver">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label> {{person}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label> {{food_location}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane-outline"></ion-icon>
        <ion-label> {{destination}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label> {{phone}} </ion-label>
      </ion-item>

      <ion-item color="light" class="ion-text-center" *ngFor="let food of data_diliverFood">
        <ion-label> {{food.name}} </ion-label>
        <ion-label> ${{food.price}} </ion-label>
      </ion-item>
      <ion-item color="danger" class="ion-float-right">
        <ion-label class="ion-float-right">Total: ${{total_price}} </ion-label>
      </ion-item>
      
    </ion-list>
  </ion-card>
</ion-content>
