<ion-header>
  <ion-toolbar color='light'>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurant"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" href="/cart" fill="outline" size="medium">
      <ion-icon name="cart-outline"></ion-icon>
        {{cart_length}}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item color="light" class="ion-text-center" *ngFor="let foodMenu of data_foodMenu" [routerLink]="['../../food-detail/',restaurant_ID ,foodMenu.id]">
        <ion-avatar slot="start">
          <img [src]= "foodMenu.img">
        </ion-avatar>
        <ion-label> {{foodMenu.name}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <!--
  <ion-card>
    <ion-list>
      <ion-item color="light" class="ion-text-center" *ngFor="let foodMenu of data_foodMenu" [routerLink]="['../../food-detail/',restaurant_ID ,foodMenu.id">
        <ion-avatar slot="start">
          <img [src]= {{foodMenu.img}}>
        </ion-avatar>
        <ion-label> {{foodMenu.name}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  -->
</ion-content>
