<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">Restaurant</ion-title>
    <ion-button class="hypertext" size="small" color="success" fill="clear" slot="start" >
      <ion-icon name="person-circle-outline"></ion-icon>
      <h5>{{name}}</h5>
    </ion-button>
    <ion-button class="hypertext" size="small" color="dark" fill="clear" slot="end" href="/login-in" >
      <h6>login</h6>
    </ion-button>
    <ion-button class="hypertext" size="small" color="dark" fill="clear" slot="end" href="/register" >
      <h6>register</h6>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-button class="large-button" color="dark" href="/restaurant-detail"  size="large">
      Order<br>Detail
      <ion-icon slot="start" name="newspaper-outline"></ion-icon>
    </ion-button>

    <ion-button class="large-button" color="medium" href="/restaurant-setting"  size="large">
      setting
      <ion-icon slot="start" name="settings-outline"></ion-icon>
    </ion-button>

    <ion-button class="large-button" color="dark" href="/restaurant-add-food"  size="large">
      <ion-text>Add/Update <br>Food menu</ion-text>
      <ion-icon slot="start" name="pizza-outline"></ion-icon>
    </ion-button>
    
  </div>
</ion-content>
