.hypertext {
    text-decoration: underline;
}
.img{
    height: 300pX;
    width: 400px;
    margin: auto;
    display: block;
}
.form {
    max-width: 64em;
    margin: auto;
    text-align: center;
}