<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">Register Page</ion-title>
    <ion-button class="hypertext" size="small" color="dark" fill="clear" slot="end" href="/login-in" >Login</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary">
          <ion-col>
            <div text-center>
              <h3>Create your account!</h3>
            </div>

            <div padding>
              <ion-item>
                <ion-label color="danger">Select Account Type</ion-label>
                <ion-select (ionChange)="toggleForm($event)" name="type" value="customer" okText="Okay" cancelText="Cancel" ngModel required>
                  <ion-select-option value="customer">Customer</ion-select-option>
                  <ion-select-option value="restaurant">Restaurant</ion-select-option>
                  <ion-select-option value="deliver">Deliver</ion-select-option>
                </ion-select>
              </ion-item>

              <div class="Parameters" *ngIf="addParameter"> 
                <ion-item>
                  <ion-label>Select Restaurant Type</ion-label>
                  <ion-select name="restaurant_type" value="rice" okText="Okay" cancelText="Cancel" ngModel required>
                    <ion-select-option value="rice">rice</ion-select-option>
                    <ion-select-option value="noodles">noodles</ion-select-option>
                    <ion-select-option value="dessert">dessert</ion-select-option>
                  </ion-select>
                </ion-item>
                
                <ion-button expand="full">
                  <ion-label slot="end">Upload Image</ion-label>
                  <input name="img" id="file" type="file" (change)="loadImageFromDevice($event)">
                </ion-button>
                <ion-item>
                  <ion-label>image url: </ion-label>
                  <ion-input name="restaurant_img" type="text" placeholder="image url" ngModel required></ion-input>
                </ion-item>

              </div> 
              <ion-item>
                <ion-label>Name/Restaurant name: </ion-label>
                <ion-input name="name" type="text" placeholder="Name/Restaurant name" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Location: </ion-label>
                <ion-input name="location" type="text" placeholder="台北市大安區基隆路四段43號B1樓" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Email: </ion-label>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>phone: </ion-label>
                <ion-input name="phone" type="text" placeholder="0987654321" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>password: </ion-label>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>password confirm: </ion-label>
                <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
              </ion-item>
            </div>
            <div class="Parameters" *ngIf="addParameter"> 
              <ion-item>
                <ion-img class="img" [src]="blobURL"></ion-img>
              </ion-item>
            </div>

            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
